button {
  position: absolute;
  right: 0;
  width: unset;
  height: unset;
  padding: 0;
  margin: 0;
  color: #000000;
  border: none;
  margin-right: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
