<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Вход в учётную запись</h1>
    <div class="form-inputs">
      <div class="input-field">
        <label>
          E-mail
          <input
            type="text"
            placeholder="Введите свой e-mail"
            formControlName="login"
          />
        </label>
      </div>
      <lib-input-password
        class="input-field"
        formControlName="password"
      ></lib-input-password>
      <div class="input-field">
        <label [style]="{ 'flex-wrap': 'nowrap', 'align-items': 'center' }">
          <input type="checkbox" />
          Запомнить меня
        </label>
      </div>
    </div>
    <div>
      <button type="submit" class="transition">Войти</button>
      <a
        routerLink="/auth/register"
        [style]="{
          'font-weight': 500,
          'font-size': '16px',
          'margin-top': '10px',
          display: 'inline-block',
          cursor: 'pointer'
        }"
        >У меня еще нет аккаунта</a
      >
    </div>
  </form>
</div>
