<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Создание учетной записиь</h1>
    <div class="form-inputs">
      <div class="input-field">
        <label>
          E-mail
          <input
            type="text"
            placeholder="Введите свой e-mail"
            formControlName="login"
          />
        </label>
      </div>
      <lib-input-password
        formControlName="password"
        label="Введите пароль"
        placeholder="Введите пароль"
        class="input-field"
      ></lib-input-password>
      <lib-input-password
        formControlName="passwordRepeat"
        label="Повторите пароль"
        placeholder="Повторите пароль"
        class="input-field"
      ></lib-input-password>
    </div>
    <div>
      <button type="submit" class="transition">Регистрация</button>
      <a
        routerLink="/auth/login"
        [style]="{
          'font-weight': 500,
          'font-size': '16px',
          'margin-top': '10px',
          display: 'inline-block',
          cursor: 'pointer'
        }"
        >У меня уже есть аккаунт</a
      >
    </div>
  </form>
</div>
