.app-container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f8f8fa;
  padding: 24px 10% 0 10%;
}

.window-container {
  height: calc(100% - 64px);
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: flex-end;
  gap: 24px;
}
.window-container,
.window {
  width: 100%;
  box-sizing: border-box;
}
.window {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 24px;
  box-shadow: -5px 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 24px 24px 0px 0px;
  background-color: #ffffff;
  flex-direction: column;
}
