.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ebecef;
  border-radius: 4px;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  padding-right: 3px;
  outline-offset: 5px;
  color: #000000;
}

.container:hover .icon,
.container:focus .icon {
  background-color: #c06ecc;
  color: #ffffff;
}

.container:active .icon {
  transform: scale(0.95);
}
